## Logistic regression.

In [26]:
kids=pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/AER/Fertility.csv")
kids.drop(columns=['Unnamed: 0'], inplace=True)
kids[['morekids', 'afam', 'hispanic', 'other']]=kids[['morekids', 'afam', 'hispanic', 'other']].eq('yes').mul(1)
kids[['gender1', 'gender2']]=kids[['gender1', 'gender2']].eq('male').mul(1)
def gender (x):
    g=0
    if x[1]==1:
        if x[2]==1:
            g="MM"
            return g
        if x[2]==0:
            g="MF"
            return g
    if x[1]==0:
        if x[2]==1:
            g="MF"
            return g
        if x[2]==0:
            g="FF"
            return g
kids['genders']=kids.apply(gender, axis=1)
#Check for null values

kids.isnull().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254654 entries, 0 to 254653
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   morekids  254654 non-null  bool
 1   gender1   254654 non-null  bool
 2   gender2   254654 non-null  bool
 3   age       254654 non-null  bool
 4   afam      254654 non-null  bool
 5   hispanic  254654 non-null  bool
 6   other     254654 non-null  bool
 7   work      254654 non-null  bool
 8   genders   254654 non-null  bool
dtypes: bool(9)
memory usage: 2.2 MB

In [27]:
kids

        morekids  gender1  gender2  age  afam  hispanic  other  work genders
0              0        1        0   27     0         0      0     0      MF
1              0        0        1   30     0         0      0    30      MF
2              0        1        0   27     0         0      0     0      MF
3              0        1        0   35     1         0      0     0      MF
4              0        0        0   30     0         0      0    22      FF
...          ...      ...      ...  ...   ...       ...    ...   ...     ...
254649         1        0        0   35     0         0      0     0      FF
254650         1        1        1   29     0         0      0     0      MM
254651         1        0        1   34     0         0      0    38      MF
254652         1        0        0   30     0         0      0    26      FF
254653         1        0        0   35     0         0      0     0      FF

[254654 rows x 9 columns]

In [28]:
# g = sns.pairplot(kids)

In [29]:
#Min max scaling for continuous data
cont=['age', 'work']
scaler = MinMaxScaler()
norm_kids=kids.copy()
norm_kids[cont] = scaler.fit_transform(norm_kids[cont])
# drop_first=True
norm_kids=pd.get_dummies(norm_kids, columns=['genders'])
norm_kids.drop(columns=['gender1', 'gender2'], inplace=True)
norm_kids

,morekids,age,afam,hispanic,other,work,genders_FF,genders_MF,genders_MM
0,0,0.428571,0,0,0,0.000000,0,1,0
1,0,0.642857,0,0,0,0.576923,0,1,0
2,0,0.428571,0,0,0,0.000000,0,1,0
3,0,1.000000,1,0,0,0.000000,0,1,0
4,0,0.642857,0,0,0,0.423077,1,0,0
...,...,...,...,...,...,...,...,...,...
254649,1,1.000000,0,0,0,0.000000,1,0,0
254650,1,0.571429,0,0,0,0.000000,0,0,1
254651,1,0.928571,0,0,0,0.730769,0,1,0
254652,1,0.642857,0,0,0,0.500000,1,0,0
254653,1,1.000000,0,0,0,0.000000,1,0,0

In [30]:
norm_kids.describe()

,morekids,age,afam,hispanic,other,work,genders_FF,genders_MF,genders_MM
count,254654.000000,254654.000000,254654.000000,254654.000000,254654.000000,254654.000000,254654.000000,254654.000000,254654.000000
mean,0.380563,0.670948,0.051662,0.074207,0.056343,0.365737,0.239329,0.494432,0.266240
std,0.485526,0.241889,0.221345,0.262107,0.230584,0.420525,0.426675,0.499970,0.441992
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.714286,0.000000,0.000000,0.000000,0.096154,0.000000,0.000000,0.000000
75%,1.000000,0.857143,0.000000,0.000000,0.000000,0.846154,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
norm_kids.corr()

,morekids,age,afam,hispanic,other,work,genders_FF,genders_MF,genders_MM
morekids,1.000000,0.099898,0.037209,0.077683,0.041484,-0.119609,0.051089,-0.069534,0.029336
age,0.099898,1.000000,-0.031369,-0.065714,-0.032203,0.111140,-0.005167,0.003136,0.001440
afam,0.037209,-0.031369,1.000000,-0.052813,-0.057032,0.107267,0.001638,0.002777,-0.004722
hispanic,0.077683,-0.065714,-0.052813,1.000000,0.423588,-0.010354,0.002542,0.000202,-0.002682
other,0.041484,-0.032203,-0.057032,0.423588,1.000000,0.008304,-0.001273,0.001291,-0.000231
work,-0.119609,0.111140,0.107267,-0.010354,0.008304,1.000000,-0.004639,0.009748,-0.006548
genders_FF,0.051089,-0.005167,0.001638,0.002542,-0.001273,-0.004639,1.000000,-0.554705,-0.337877
genders_MF,-0.069534,0.003136,0.002777,0.000202,0.001291,0.009748,-0.554705,1.000000,-0.595693
genders_MM,0.029336,0.001440,-0.004722,-0.002682,-0.000231,-0.006548,-0.337877,-0.595693,1.000000

In [32]:
from collections import Counter
cat=kids.columns
for i in cat:
    counts=pd.value_counts(kids[i])
    print(counts)

0    157742
1     96912
Name: morekids, dtype: int64
1    130984
0    123670
Name: gender1, dtype: int64
1    130523
0    124131
Name: gender2, dtype: int64
33    31604
32    29945
31    26371
35    25998
34    25563
30    23324
29    20420
28    17664
27    15195
26    12452
25     9672
24     7235
23     4853
22     2936
21     1422
Name: age, dtype: int64
0    241498
1     13156
Name: afam, dtype: int64
0    235757
1     18897
Name: hispanic, dtype: int64
0    240306
1     14348
Name: other, dtype: int64
0     120141
52     47219
40      7364
50      6653
12      4975
20      4746
36      4607
16      3893
48      3583
30      3279
8       2972
26      2853
24      2344
32      2254
10      2199
4       2150
6       1997
2       1701
25      1653
51      1622
28      1515
44      1460
1       1427
45      1411
42      1400
3       1359
15      1210
49      1200
46      1198
14      1193
38      1175
35      1147
18      1117
5       1039
22       797
13       760
17       649
9        648
39       642
47       586
7        582
34       564
37       501
43       374
21       371
11       363
41       299
23       298
33       264
19       259
27       259
29       192
31       190
Name: work, dtype: int64
MF    125909
MM     67799
FF     60946
Name: genders, dtype: int64

In [33]:
norm_kids.columns

Index(['morekids', 'age', 'afam', 'hispanic', 'other', 'work', 'genders_FF',
       'genders_MF', 'genders_MM'],
      dtype='object')

### Logistic regression with the statsmodel package.

In [34]:
formula = "morekids ~ age + C(afam) + C(hispanic) + C(other) + work + C(genders_MF) + C(genders_FF) + C(genders_MM)"
formula2 = "morekids ~ age + C(hispanic) + work + C(genders_MF)"
formula3 = "morekids ~ age + C(hispanic) + work + C(genders)"

model = smf.logit(formula = formula2, data = norm_kids)
lr = model.fit()
print(lr.summary())

Optimization terminated successfully.
         Current function value: 0.644442
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:               morekids   No. Observations:               254654
Model:                          Logit   Df Residuals:                   254649
Method:                           MLE   Df Model:                            4
Date:                Wed, 17 Nov 2021   Pseudo R-squ.:                 0.02995
Time:                        20:55:04   Log-Likelihood:            -1.6411e+05
converged:                       True   LL-Null:                   -1.6918e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             -0.8863      0.014    -65.213      0.000      -0.913      -0.860
C(hispanic)[T.1]       0.6634      0.016     42.724      0.000       0.633       0.694
C(genders_MF)[T.1]    -0.2934      0.008    -35.187      0.000      -0.310      -0.277
age                    1.0745      0.018     60.323      0.000       1.040       1.109
work                  -0.6742      0.010    -66.109      0.000      -0.694      -0.654
======================================================================================

#### The Pseudo R-squared shows that about 3% of the variance is explained by this model. Hispanic, MF, age, and work are all significant with p < 0.05.

### Results and interpretation of the parameter coefficients for each input variable:
https://www.statsmodels.org/stable/index.html.

In [35]:
coef=lr.params
np.exp(coef)

# logistic regression coefficients
results = pd.DataFrame(lr.params, columns=["coef"]) 
results["exp_coef"]=np.exp(lr.params)
results

                        coef  exp_coef
Intercept          -0.886280  0.412186
C(hispanic)[T.1]    0.663401  1.941385
C(genders_MF)[T.1] -0.293388  0.745732
age                 1.074546  2.928662
work               -0.674237  0.509545

#### The coefficients of the logistic regression model can be interpreted as follows:
##### The hispanic coefficient is 0.663401, meaning that if every other factor is held constant and the hispanic variable is 1, the log odd would increase by 0.663401, and therefore the odds of wanting more kids would increase by exp(0.663401) = 1.941385
##### If they have male and female kids, the odds of wanting more kids would increase by 0.745732
##### If the age increases by 1, the odds of wanting more kids would increase by 2.928662
##### If the work hours increase by 1, the odds of wanting more kids would increase by 0.509545

### Model Evaluation

In [36]:
# defining the dependent and independent variables
X= norm_kids[['age', 'hispanic', 'work', 'genders_MF']]
y= norm_kids[["morekids"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)


print("Xk_train shape: ",X_train.shape)
print("Xk_test shape: ",X_test.shape)

print("yk_train shape: ",y_train.shape)
print("yk_test shape: ",y_test.shape)
  
# building the model and fitting the data
log_reg = sm.Logit(y_train, X_train).fit()

# printing the summary table
print(log_reg.summary())

Xk_train shape:  (178257, 4)
Xk_test shape:  (76397, 4)
yk_train shape:  (178257, 1)
yk_test shape:  (76397, 1)
Optimization terminated successfully.
         Current function value: 0.652930
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:               morekids   No. Observations:               178257
Model:                          Logit   Df Residuals:                   178253
Method:                           MLE   Df Model:                            3
Date:                Wed, 17 Nov 2021   Pseudo R-squ.:                 0.01686
Time:                        20:55:05   Log-Likelihood:            -1.1639e+05
converged:                       True   LL-Null:                   -1.1839e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age            0.0716      0.011      6.760      0.000       0.051       0.092
hispanic       0.5142      0.018     28.074      0.000       0.478       0.550
work          -0.7774      0.012    -65.101      0.000      -0.801      -0.754
genders_MF    -0.4540      0.009    -48.185      0.000      -0.472      -0.436
==============================================================================

In [37]:
yhatTrain = log_reg.predict(X_train)
predictionTrain = list(map(round, yhatTrain))
# performing predictions on the test datdaset
yhat = log_reg.predict(X_test)
prediction = list(map(round, yhat))
 
# # comparing original and predicted values of y
# print('Actual values', list(y_test.values))
# print('Predictions :', prediction)

from sklearn.metrics import (confusion_matrix, accuracy_score)
 
# confusion matrix
cm = confusion_matrix(y_test, prediction)
print ("Confusion Matrix : \n", cm)
 
# accuracy score of the model
print('Train accuracy = ', accuracy_score(y_train, predictionTrain))
print('Test accuracy = ', accuracy_score(y_test, prediction))

Confusion Matrix :
 [[36280 10965]
 [19023 10129]]
Train accuracy =  0.608340766421515
Test accuracy =  0.6074714975718942

##### The model does not appear to be overfitting and 60% accuracy isn't terrible, but the Pseudo R^2 is very low.
Looking more closely at the data in work hours you can see an imbalance there is a high number of individuals who work 0 hours. Are these stay-at-home moms and should this be included as a separate variable?